#newsFeed {
  position: relative;
  left: 25vw;
  width: 50vw;
  padding-bottom: 1px;
}

.news-item {
  padding: 1vw;
  width: 100%;
  margin-bottom: 12px;
  margin-top: 12px;
  border-radius: 10px;
  box-sizing: border-box;
}

.news-item h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin: 0;
}

.news-item p, .news-item h4 {
  color: var(--secondaryColour);
}

.file-container {
  object-fit: contain;
  border-radius: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  max-width: 20vw;
  max-height: 20vh;
  background-color: var(--hoverColour);
}


.preview-file {
  border-radius: 1em 1em 0 0;
  width: 10vw;
  height: 20vh;
  margin: 0;
}

.news-item button {
  width: 100%;
  font-size: 1em;
  border: 0;
  background-color: var(--backgroundColour);
  padding: 5px;
  color: var(--secondaryColour);
  border-radius: 0.5em;
}

body {
  position: relative;
  margin: 0px;
}

.side-menu {
  position: fixed;
  top: 8vh;
  width: 20vw;
  height: 80vh;
  overflow-y: auto;
}

#leftContent {
  left: 0;
  border-radius: 0 1rem 1rem 0;
  /*background-color: var(--highlightColour);*/
}

#rightContent {
  right: 0;
}

embed.file-container:not(.preview-file) {
  height: 90vh;
}

.post-link {
  color: var(--primaryColour);
  cursor: pointer;
}

.post-description {
  margin: 6px 0px;
}

.new-post-input {
  outline: none;
  color: var(--primaryColour);
  display: block;
  box-sizing: border-box;
  background-color: var(--hoverColour);
  padding: 0.5rem;
  border-radius: 12px;
  margin: 0;
  width: 100%;
}

#newPostSubmit {
  display: block;
  width: 100%;
  background-color: var(--highlightColour);
  color: var(--backgroundColour);
  text-align: center;
  padding: 6px 0px;
  border-radius: 12px;
  margin: 0;
}

#newPostSubmit:hover {
  background-color: var(--highlightHoverColour);
}

#newPostContainer h2 {
  margin: 0;
}

#newPostTitle:empty::before {
  content: 'Title...';
  color: var(--secondaryColour);
}

#newPostDesc:empty::before {
  content: 'Caption...';
  color: var(--secondaryColour);
}


.file-preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.file-delete-button {
  display: block;
  padding: 0.5em;
  width: 10vw;
  border-radius: 0 0 1em 1em;
  box-sizing: border-box;
  background-color: var(--deleteColour);
}

.file-delete-button:hover {
  background-color: var(--deleteHoverColour);
}

.preview-container {
  border-collapse: separate;
  margin-right: 1em;
  border-radius: 1em;
  margin-bottom: 0.5em;
  background-color: var(--deleteColour);
}

.poster-info-header {
  margin-bottom: 0.5em;
}
