:root[colour-mode='light'] {
  --backgroundColour: #f0f2f5;
  --featureColour: #ffffff;
  --hoverColour: #e4e6eb;
  --primaryColour: #212121;
  --secondaryColour: #7b7b7b;
  --highlightColour: #6200ee;
  --highlightHoverColour: #6200eeaa;
  --linkColour: #0000ff;
  --linkHoverColour: #0000ff90;
  --deleteColour: #d0312d;
  --deleteHoverColour: #e3242b;
  --saveColour: #03ac13;
  --saveHoverColour: #028a0f;
}
:root[colour-mode='dark'] {
  --backgroundColour: #18191a;
  --featureColour: #242526;
  --hoverColour: #3a3b3c;
  --primaryColour: #e4e6eb;
  --secondaryColour: #b0b3b8;
  --highlightColour: #985eff;
  --highlightHoverColour: #985effaa;
  --linkColour: #0088ff;
  --linkHoverColour: #0088ff90;
  --deleteColour: #710c04;
  --deleteHoverColour: #900d09;
  --saveColour: #234f1e;
  --saveHoverColour: #32612d;
}

html {
  overflow-y: scroll;
}

.background-element {
  background-color: var(--backgroundColour);
}
.feature-element {
  background-color: var(--featureColour);
}
.secondary-text {
  color: var(--secondaryColour);
}
.highlight-element {
  background-color: var(--highlightColour);
}
.highlight-element.button:hover {
  background-color: var(--highlightHoverColour);
}
body {
  color: var(--primaryColour);
}
hr {
  border: 1px solid var(--highlightColour);
}

#navBar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  height: 5.5vh;
  margin-bottom: 0;
  border-bottom: 1px solid var(--highlightColour);
  z-index: 100;
  font-size: 150%;
}
/*
#navBar div {
  box-sizing: border-box;
}
*/

#pageContent {
  position: relative;
  top: 6vh;
}
#feedButton {
  position: absolute;
  left: 0;
  text-align: center;
}

#logInOutContainer {
  position: absolute;
  right: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logInOutContainer > p {
  margin: 0 0 0 12px;
  font-size: 75%;
}

#signOutButton {
  left: 24px;
}

#profileButton {
  display: flex;
  height: 28px;
  padding: 0px !important;
  padding-right: 9px !important;
  margin-top: 12px;
  border-radius: 14px;
}
.profile-picture {
  height: 28px;
  width: 28px;
  object-fit: contain;
  margin-right: 6px;
  border-radius: 14px;
  border: 1px solid var(--backgroundColour);
}

.group-pic {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 6px;
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

.selectable {
  outline: none;
}

.selectable:hover {
  cursor: pointer;
  background-color: var(--hoverColour);
}

.normal-link {
  text-decoration: underline;
  color: var(--linkColour);
}

.normal-link:hover {
  cursor: pointer;
  color: var(--linkHoverColour);
}

.nav-button {
  margin: 0px 3px 0px 3px;
  padding: 12px 9px 12px 9px !important;
  border-radius: 3px;
  background-color: var(--backgroundColour);
}

.button {
  cursor: pointer;
}

.vertical-border {
  position: relative;
  width: 0px;
  top: 5%;
  height: 90%;
  border-right: 2px solid var(--highlightColour);
  margin: 0;
  padding: 0;
}
