body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #e8e8e8;
  height: 100vh;
  margin: 0 .5vw;
  font-family: 'Century Gothic';
}

.invite-button {
  border-radius: .2rem;
}

.accept-btn {
  background-color: green;
  border: 1px solid green;
}
.decline-btn {
  background-color: red;
  border: 1px solid red;
}

#profileButton {
  margin: .5rem;
  padding: .5rem;
  position: fixed;
  right: 0;
  display: flex;
  justify-content: flex-end;
  border: 1px solid #666;
  background-color: #ffffff;
}

#profilePic {
  object-fit: contain;
  height: 3rem;
}

#usernameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#usernameContainer > p {
  margin: 0;
  margin-left: .5rem;
}

@media (max-aspect-ratio: 1/1) {
  #usernameContainer {
    display: none;
  }
}

.full-width {
  width: 100%;
}

#pageTitle {
  position: relative;
  text-align: center;
  width: 80%;
  left: 10%;

}

.horizontal-flex-container {
  display: flex;
}

.selectable:hover {
  cursor: pointer !important;
  background-color: #e8e8e8 !important;
}

.hidden {
  display: none !important;
}

.content-display {
  padding: 12px;
}

.content-item {
  margin: -1px 6px;
  padding: 2px;
  border: 1px solid #aaa;
}

.content-item:hover {
  background-color: #d9d9d9;
}

.content-create-item {
  margin: 6px;
  padding: 2px;
  background-color: #b9b9b9;
  border: 2px solid #b9b9b9;
  border-radius: .5rem;
}


form.content-item > label {
  font-size: 150%;
}
form.content-item > input[type='text'], textarea, form.content-item > input[type='checkbox'] {
  margin-top: .5rem;
  margin-bottom: .75rem;
}

textarea {
  resize: vertical;
}

textarea.large {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
}

#pageContent {
  flex-grow: 1;
  max-height: 86vh;
}
