:root[colour-mode="light"] {
  --backgroundColour: #f0f2f5;
  --featureColour: #ffffff;
  --hoverColour: #e4e6eb;
  --primaryColour: #212121;
  --secondaryColour: #7b7b7b;
  --highlightColour: #6200ee;
  --highlightHoverColour: #6200eeaa;
  --linkColour: #0000ff;
  --linkHoverColour: #0000ff90;
}
:root[colour-mode="dark"] {
  --backgroundColour: #18191a;
  --featureColour: #242526;
  --hoverColour: #3a3b3c;
  --primaryColour: #e4e6eb;
  --secondaryColour: #b0b3b8;
  --highlightColour: #985eff;
  --highlightHoverColour: #985effaa;
  --linkColour: #0088ff;
  --linkHoverColour: #0088ff90;
}

html {
  overflow-y: scroll;
}

.background-element {
  background-color: var(--backgroundColour);
}
.feature-element {
  background-color: var(--featureColour);
}
.secondary-text {
  color: var(--secondaryColour);
}
body {
  color: var(--primaryColour);
}
hr {
  border: 1px solid var(--highlightColour);
}

#navBar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  height: 5.5vh;
  margin-bottom: 0;
  border-bottom: 1px solid var(--highlightColour);
  z-index: 100;
  font-size: 150%;
}
/*
#navBar div {
  box-sizing: border-box;
}
*/

#pageContent {
  position: relative;
  top: 6vh;
}
#darkModeToggle {
  position: absolute;
  right: 24px;
}

#profileButton {
  display: flex;
  position: absolute;
  height: 28px;
  padding: 0px !important;
  padding-right: 9px !important;
  margin-top: 12px;
  border-radius: 14px;
  left: 24px;
}
#profilePic {
  height: 28px;
  width: 28px;
  object-fit: contain;
  margin-right: 6px;
  border-radius: 14px;
}

.group-pic {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 6px;
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

.selectable {
  outline: none;
}

.selectable:hover {
  cursor: pointer;
  background-color: var(--hoverColour);
}

.download-link {
  text-decoration: underline;
  color: var(--linkColour);
}

.download-link:hover {
  color: var(--linkHoverColour);
}

.nav-button {
  margin: 0px 3px 0px 3px;
  padding: 12px 9px 12px 9px !important;
  border-radius: 3px;
  background-color: var(--backgroundColour);
}
