body {
  margin: 0;
}
#tabSelector {
  padding: 0 .5rem;
  border-top: 6px solid #cecece;
  background-color: #cecece;
  box-sizing: border-box;
}

#groupInvitesButton {
  border: 2px solid darkgreen;
}

.tab-marker.selected-tab {
  background-color: #e8e8e8;
}

.tab-marker > h2 {
  margin: .25em;
}
.tab-marker {
  border-radius: .5rem .5rem 0 0;
}

#tabSelector > div {
  margin: 0 3px;
}

.content-item > p {
  margin: 0px;
  font-size: 125%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content-item > p.title {
  font-weight: bolder;
}
.group-desc {
  color: #333333;
}
.group-desc:hover {
  cursor: default;
}

@media (min-aspect-ratio: 1/1) {
  .content-grid-container {
    display: grid;
    grid-template-columns: 24.5% 74.5%;
    column-gap: 1%;
  }
  .invite-grid-container {
    display: grid;
    grid-template-columns: 19.5% 59% 9% 9.5%;
    column-gap: 1%;
  }
}

@media (max-aspect-ratio: 1/1) {
  .invite-button {
    width: 100%;
    height: 2rem;
    margin: .1rem 0;
  }
}


p.owner-tag {
  color: mediumblue;
}

p.admin-tag {
  color: red;
}

.active-assignment-tag {
  border-color: gold;
}

.completed-assignment-tag {
  border-color: green;
}

#tabView {
  overflow-y: auto;
  height: 100%;
}

.post-title {
  grid-area: title;
  text-align: center;
  margin: .25rem;
  padding: 0;
}
.post-desc {
  grid-area: desc;
  padding: 0;
}
.post-time {
  grid-area: time;
  text-align: right;
}
.post-link {
  grid-area: link;
}

.post-container {
  background-color: #ffffff;
  border-radius: .5rem;
  padding: 1rem;
}
.post-container > .post-desc {
  line-height: 1.25rem;
  max-height: 5rem;
  margin-bottom: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post-profile {
  grid-area: profile;
  display: flex;
  align-items: center;
  padding: 0;
}
.post-profile > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-aspect-ratio: 1/1) {
  .post-container.grid-container {
    display: grid;
    grid-template-columns: 19.5% 29% 29% 19.5%;
    grid-template-rows: auto;
    grid-template-areas:
      "profile title title time"
      "desc desc desc desc"
      ". link link .";
    column-gap: 1%;
    margin: .5rem 0;
  }
}

@media (max-aspect-ratio: 1/1) {
  .post-container.grid-container {
    display: grid;
    grid-template-columns: 49.5% 24% 24.5%;
    grid-template-rows: auto;
    grid-template-areas:
      "profile . time"
      "title title title"
      "desc desc desc"
      "link link link";
    column-gap: 1%;
    font-size: 90%;
    margin: .5rem 0;
  }
}
