body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #e8e8e8;
  height: 100vh;
  margin: 0 .5vw;
  font-family: 'Century Gothic';
}

#profileButton {
  margin: .5rem;
  padding: .5rem;
  position: fixed;
  right: 0;
  display: flex;
  justify-content: flex-end;
  border: 1px solid #666;
  background-color: #ffffff;
}

#profilePic {
  object-fit: contain;
  height: 3rem;
}

#usernameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#usernameContainer > p {
  margin: 0;
  margin-left: .5rem;
}

@media (max-aspect-ratio: 1/1) {
  #usernameContainer {
    display: none;
  }
}


.full-width {
  width: 100%;
}

#pageTitle {
  text-align: center;
}

#tabSelector {
  border-top: 6px solid #cecece;
  background-color: #cecece;
}

.horizontal-flex-container {
  display: flex;
}

.tab-marker.selected-tab {
  background-color: #e8e8e8;
}

.tab-marker > h2 {
  margin: .25em;
}

#tabSelector > div {
  margin: 0 3px;
}

.selectable:hover {
  cursor: pointer !important;
  background-color: #e8e8e8 !important;
}

.content-item > p {
  margin: 0px;
  font-size: 125%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content-item > p.title {
  font-weight: bolder;
}
.group-desc {
  color: #333333;
}
.group-desc:hover {
  cursor: default;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

.content-display {
  padding: 12px;
}

.content-item {
  margin: -1px 6px;
  padding: 2px;
  border: 1px solid #aaa;
}

.content-item:hover {
  background-color: #d9d9d9;
}

.content-create-item {
  margin: 6px;
  padding: 2px;
  background-color: #b9b9b9;
  border: 2px solid #b9b9b9;
  border-radius: .5rem;
}

@media (min-aspect-ratio: 1/1) {
  .content-grid-container {
    display: grid;
    grid-template-columns: 24.5% 74.5%;
    column-gap: 1%;
  }
}

p.owner-tag {
  color: mediumblue;
}

p.admin-tag {
  color: red;
}

.hidden {
  display: none !important;
}

.active-assignment-tag {
  border-color: gold;
}

.completed-assignment-tag {
  border-color: green;
}

#tabView {
  overflow-y: auto;
  height: 100%;
}

#pageContent {
  flex-grow: 1;
  max-height: 86vh;
}
#topSection {
  height: 14vh;
}

form.content-item > label {
  font-size: 150%;
}
form.content-item > input[type='text'], form.content-item > input[type='checkbox'] {
  margin-top: .5rem;
  margin-bottom: .75rem;
}

input[type='text'].large {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
}
