
#pageContent {
  display: flex;
  justify-content: center;
}



.document-viewer {
  min-height: 21vh;
  min-width: 15vw;
  background-color: var(--featureColour);
  padding: 6px;
  border-radius: 12px;
}

.file-container {
  max-height: 70vh;
  max-width: 50vw;
  object-fit: contain;
}

.document-viewer.contains-object {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

object.file-container {
  height: 69vh;
  width: 49vw;
}

.scroll-arrow {
  font-size: 300%;
  height: 100%;
  color: var(--secondaryColour);
}

.scroll-arrow > h1 {
  position: relative;
  margin: 0 12px;
  top: 40%;
}
.scroll-arrow > h1::selection {
  color: none;
  background: none;
}

.scroll-arrow.hidden {
  cursor: default;
  color: var(--backgroundColour);
}

#documentContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.document-viewer {
  display: block;
}
.document-viewer *::selection {
  color: none;
  background: none;
}

.document-viewer.hidden {
  display: none;
}

#postHeaderContainer {
  text-align: center;
}

#postTitleHeader {
  margin: 0;
  font-size: 3em;
}

.author-link {
  color: var(--secondaryColour);
}

h3 {
  margin: 6px 0 12px 0;
}
